html,
body {
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

/* === HEADER === */

.header {
    padding: 15px 0;
    height: auto;
}

.header__img {
    width: 155px;
    height: 20px;
}

.header__btn {
    display: none;
}

.section {
    padding: 30px 0;
}

.section--blue {
    background-color: aliceblue;
}

.section--smoke {
    background-color: #f8f8f8;
}

.section__wrapper {
    width: 100%;
}

.section .container {
    flex-direction: column;
}

.section__wrapper--center {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.dropdown--custom {
    margin-left: 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.list__item--bold {
    font-weight: bold;
}

.list__item {
    font-size: 14px;
    line-height: 2;
}

.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;

    padding: 7px 12px;
    font-size: 15px;
}

.btn__language {
    padding: 3px 6px;
    font-size: 15px;
    color: #000000;
}

.section__img {
    width: 45%;
    max-width: 400px;
    margin-bottom: 20px;
    order: -1;
}

.section__video {
    width: 100%;
    max-width: 545px;
}

.section__title {
    font-size: 25px;
    margin-bottom: 14px;
}

.section__text {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: normal;
    color: #000;
}

.form {
    border-radius: 2px;
    border: solid 1px #ddd;
    padding: 15px 15px 25px;
}

.container__link {
    text-decoration: none;
    position: absolute;
    left: 15px;
}


.section__admin {
    max-width: 553px;
    margin: 0 auto;
    width: 100%;
}

.header--color {
    background-color: #f8f8f8;
}

.nav-link--btn {
    padding: 10px 10px;
    font-size: 14px;
}

.form {
    border-radius: 0 0 2px 2px;
    border-top-width: 2px;
    position: relative;
}

.nav {
    width: 25%;
    margin-bottom: 10px;
}

.nav-fill {
    margin-bottom: 0;
    width: 100%;
}

.form--label {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.form__row--margin {
    margin-bottom: 15px;
    position: relative;
}

.form__icon {
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-size: 24px;
    cursor: pointer;
}

.container__link {
    font-size: 14px;
}

.btn-primary--login {
    display: block;
    margin: 55px auto 0;
}

.container__list {
    border: solid 1px #ddd;
    border-top: none;
    text-align: center;
}

.list__text {
    padding-top: 20px;
    font-size: 14px;
}

.list__icon {
    padding: 0 15px 25px;
}

.social-list {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
}

.social-list__item {
    margin-right: 28px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__link {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

.list__link {
    text-decoration: none;
    color: #000;
}

.footer {
    padding: 25px;
    background-color: #e9e9e9;
    text-align: center;
    font-size: 12px;
    height: 66px;
}

.nav-pills .nav-link {
    color: #000;
}

.nav-pills .nav-link.active {
    border-radius: 3px 3px 0 0;
    border: solid 1px #ddd;
    border-bottom: none;
    background-color: #fff;
    color: #428bca;
}

@media (min-width: 576px) {
    .header__img {
        width: 210px;
        height: 25px;
    }

    .header__btn {
        display: block;
    }
}

@media (min-width: 768px) {
    .section .container {
        flex-direction: row;
    }

    .section__wrapper {
        max-width: 615px;
        width: 50%;
    }

    .social-list {
        margin: 25px 0;
    }

    .btn__language {
        padding: 6px 12px;
        font-size: 18px;
    }

    .dropdown--custom {
        margin-left: 45px;
    }

    .section {
        padding: 50px 0;
    }

    .section__img {
        margin-bottom: 0;
        order: 0;
    }

    .list__text {
        padding-top: 35px;
    }

    .form--label {
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .btn-primary {
        padding: 7px 31px;
        font-size: 18px;
    }

    .btn-primary--login {
        padding: 10px 20px;
    }

    .form {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container__link {
        left: 30px;
    }

    .header {
        padding: 28px 0;
        height: 100px;
    }

    .header__img {
        width: 295px;
        height: 38px;
    }

    .section__title {
        font-size: 30px;
    }

    .section__text {
        margin-bottom: 25px;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .section__title {
        font-size: 36px;
    }

    .section__text {
        margin-bottom: 34px;
        font-size: 24px;
    }
}